<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="BingMapsKey" value="Aq-DLABXldspUhrsCfnQnXvk8zRWJ0HQ8DwQvBR6rDTf0-a7wtKKrElEWB-oOUzB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
 
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=192.168.76.14\MSSQLSERVER2017;Initial Catalog=BoSS2020;Persist Security Info=True;User ID=sa;Password=as;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
 
</configuration>